@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #036075, #5f2c82);
    }

    #login {
        width: 60vw;
        height: 300px;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #036075, #5f2c82);
    }
    
    #login {
        width: 800px;
        height: 325px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 50%;
    }

    #formulario > p {
        font-size: 1em;
        margin: 20px 0;
    }
}